# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Environment files
.env

# Dependency directories
bower_components/

# Optional npm cache directory
.npm/

# build output
/dist
/build

# TypeScript
*.tsbuildinfo

# IDE files
.vscode/
.idea/
*.swp

